* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f14;
  color: white;
}

/* PIN */
.lock {
  height: 100vh;
  background: linear-gradient(135deg,#7b2ff7,#a445f7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TOPO */
.topo {
  background: linear-gradient(135deg,#7b2ff7,#a445f7);
  padding: 20px;
  border-radius: 0 0 25px 25px;
}

.perfil {
  display: flex;
  gap: 12px;
  align-items: center;
}

.perfil img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

/* NOVA */
.nova {
  padding: 15px;
}

.nova input, .nova button {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 10px;
  border: none;
}

/* LISTA */
.lista {
  padding: 10px;
}

/* CAIXA MADEIRA */
.caixa {
  background: linear-gradient(135deg,#c89b6d,#a9794b);
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 15px;
  color: #3b220f;
  box-shadow: inset 0 0 0 2px #8b5a2b,
              0 10px 25px rgba(0,0,0,.4);
}

.caixa.fechada {
  opacity: .95;
}

/* VALORES */
.valores {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 6px;
  margin-top: 12px;
}

.valor {
  background: rgba(255,255,255,.35);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  font-weight: bold;
}

.valor.marcado::after {
  content: "❌";
  position: absolute;
  top: -6px;
  right: -6px;
}

/* MENU DELETE */
.menu-delete {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #1c1c26;
  padding: 15px;
  border-radius: 16px;
  display: none;
  gap: 10px;
  z-index: 999;
}

.menu-delete button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* CONFETE */
.confete {
  position: fixed;
  inset: 0;
  display: none;
  background: rgba(0,0,0,.85);
  align-items: center;
  justify-content: center;
  font-size: 28px;
  z-index: 1000;
}
.valor {
  position: relative;
  background: #d6b58a;
  border-radius: 10px;
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  box-shadow: inset 0 0 4px rgba(0,0,0,.4);
}

.valor.marcado {
  background: #b09063;
}

.valor.marcado::after {
  content: "✖";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #3b220f;
  font-weight: 900;
}
.btn-share {
  flex:1;
  padding:10px;
  border-radius:12px;
  border:none;
  background:#5b2d8b;
  color:white;
  font-weight:600;
}